h1.light {
    font-weight: 100;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px #ccc;
}

.btn-group {
    margin-bottom: .5em;
}

.note {
    font-style: italic;
    font-size: 80%;
}

#map {
    border: 1px solid #999;
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.blockgroup {
  fill: none;
  stroke: rgba(68, 68, 4, .6);
  stroke-linejoin: round;
}

.legend {
    fill: #FFF;
}

.blockgroup.active {
  stroke: #A00;
  stroke-width: 3px;
}

.street {
  fill: transparent;
  stroke: #A53;
  stroke-width: 2px;
}

.bikeway {
  fill: transparent;
  stroke: rgba(50, 50, 50, .7);
  stroke-width: 1px;
}

.street.active {
  stroke: #A00;
  stroke-width: 5px;
}

.station {
  stroke: #000;
  stroke-width: 1px;
}

.station.active {
  stroke: #A00;
  stroke-width: 5px;
}

.city {
  stroke: rgba(50, 150, 50, 1);
  stroke-width: 1px;
  stroke-linejoin: round;
  fill: none;
}


.background {
  fill: transparent;
}

.legend {
   fill: #999;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198);  }
.q6-9 { fill:rgb(33,113,181);  }
.q7-9 { fill:rgb(8,81,156);    }
.q8-9 { fill:rgb(8,48,107);    }

.lake { fill:rgba(50,90,255,.95); }

.city-border { fill:rgba(5,5,5,.5); }

circle.station { 
    fill: rgba(14, 119, 56, .6); 
    stroke: rgba(0,0,0,1);
    stroke-width: .5px;
}

#density_map circle.station {
    fill-opacity: .66;
}

.blank { fill: rgba(255,5,5,.5); }
.hidden { display: none; }

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8pt;
    pointer-events: none;
}

#precincts text {
    font-size: 10pt;
}

.q7-9 { fill:rgb(8,81,156); }

.dl-horizontal {
    float: left ; 
}

#precincts_key {
    overflow: scroll;
    height: 400px;
}

/* Legend */

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;/te
  text-anchor: middle;
}

.station-count-label {
    opacity: .8;
    font-weight: bold;
    fill: #333;
}

circle.station-legend {
    fill: rgba(230, 230, 230, 1);
    stroke: #000;
    stroke-width: 1px;
}

.legend-300 {
    stroke: #000;
    stroke-width: 1px;
}

.info-box {
    position: absolute;
    right: 0px;
    display: block;
    width: 30%;
    background-color: rgba(255, 255, 255, .9);
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 10px;
}

.info-box h3 {
    font-weight: 200;
    font-size: 12pt;
    letter-spacing: 1px;
    text-align: center;
}

.info-box [data-display="id"] {
    font-size: 80%;
    color: #999;
}

#usage p.lead {
    margin-top: 1.25em;
    font-size: 120%;
}

code {
    font-size: 80%;
    opacity: .7;
}

